<!DOCTYPE html>
<html>
    {% include head.html %}
  <body>
    <section class="hero is-dark is-halfheight ">

        <div class="hero-head">
            {% include header.html %}
    
        </div>
    
    
        <div class="hero-body">
            <div class="container has-text-centered is-centered">
              <h1 class="title is-1" style="font-size: 2rem";>
                Portfolio
              </h1>  
        <div class="responsive-wrap" style=".responsive-wrap iframe{ max-width: 100%;};margin:auto">
          <!-- this is the embed code provided by Google -->
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTFRx9MiTZEwepWwRI9-KphTA2yh0m7nloExCchQUiBIfQhi8k_OIhnuzB68aFCIQqu7pmdx929DG71/embed?start=true&loop=true&delayms=30000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          <!-- Google embed ends -->
          </div>
              </div>
        </div>
    </section>




    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../assets/js/wild.js"></script>

          {% include footer.html %}
  </body>
</html>
